section.most-popular {
    padding: 0 12px 0 12px;
    margin: 20px 0 0 0;
    .container-fluid {
        background: $mt-red;
        padding: 20px 15px 0 15px;
        h2 {
            color: #ffffff;
            font-weight: 600;
        }
        .article {
            background-color: $mt-red;
            padding: 0 0 20px 0;
            border-bottom: 1px solid #efefef;
            &:last-of-type {
                border-bottom: none;
            }
            .text {
                text-transform: uppercase;
                font-size: 12px;
                color: #ffffff;
                font-weight: 600;
                padding: 0;
                margin: 15px 0 0 0;
                line-height: 1.4;
                
                .link-to-article {
                   background: linear-gradient(#e2e2e2, #ffffff) ;
                   color: #000000;
                   border: 1px solid #e2e2e2;
                   padding: 7px 12px;
                   font-weight: 600;
                   border-radius: 1px;
                   &:hover, &:active {
                       background: #ffffff;
                   }
                }
                p {
                    font-size: 12px!important;
                    font-weight: 600!important;
                }
            } 
        }
    }
}

@media (min-width: 768px) {
    section.most-popular {
        padding: 39px 12px 0 0px;
        margin: 0;
    }
}