.navbar {
    background: #ffffff;
    padding: 0;
    // height is same as the highest element inside(.navbar-togler)
    height: 69px;
    .navbar-toggler {
        border: none;
        border-radius: 0;
        outline: none;
        width: 70px;
        background-color: $mt-red;
        padding: 24px 15px;
        position: absolute;
        left: 0;
        top: 0;
        .icon-bar {
            display: block;
            background-color: #ffffff;
            height: 3px;
            transition: all 0.2s;
            margin-top: 6px;
            &:nth-of-type(1) {
                width: 75%;
                margin-top: 0;
            }
            &:nth-of-type(2) {
                width: 100%;
            }
            &:nth-of-type(3) {
                width: 60%;
            }
        }
    }
    .top-nav-logo-a {
        img {
            width: 60px;
        }
    }
    .social-media {
        margin: 0 10px 0 0;
        position: absolute;
        right: 0;
        ul {
            margin-bottom: 0;
            list-style-type: none;
            li {
                display: inline-block;
                a {
                    padding: 5px;
                    // &:last-of-type { padding-right: 0; }
                    img {
                        width: 18px;
                    }
                }
            }
        }
    }
    .navbar-collapse {
        z-index: 100;
        position: absolute;
        top: 69px;
        width: 100%;
        color: #ffffff;
        background-color: $mt-red;
        // MAIN MENU
        ul.main-menu {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
            text-align: left;
            padding: 37px 0 37px 0;
            a {
                display: block;
                padding: 13px 50px 13px 70px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .col-2 {
            background-color: $darker-red;
        }
        // SUB MENU
        .sub-menu-col-sm {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
        }

        .sub-menu-col-md {
            background: $darker-red;
            height: initial;
            .sub-menu-ul {
                width: initial;
                position: initial;
                height: initial;
            }
        }
        .to-main-menu-arrow {
            padding: 10px;
            margin: 0 0 30px 17px;
            outline: none;
            position: absolute;
            top: 15px;
            left: 67px;
            z-index: 10;
            img {
                width: 20px;
            }
        }

        .to-main-menu-arrow-md {
            padding: 10px;
            margin: 0 0 30px 17px;
            outline: none;
            position: absolute;
            top: 15px;
            left: calc((100%/12)*5);
            z-index: 10;
            img {
                width: 20px;
            }
        }
        .sub-menu-ul {
            background-color: $darker-red;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
            text-align: left;
            width: calc(100% - 70px);
            padding: 70px 0 0 0;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            a {
                display: block;
                padding: 13px 30px 13px 23px;
                color: #FECDCD;
                font-weight: 500;
            }
            h2.category {
                font-size: 18px;
                font-weight: 600;
                margin: 0 0 13px 23px;
            }
        }
        .previous-conferences-col {
            background: #3e3e3e;
            padding: 20px 0 20px 0;
            h2{
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 700;
                margin: 0 0 15px 0;
            }
            nav {
                width: 100%;
            }
            ul {
                width: 60%;
                text-align: center;
            }
            li {
                display: inline-block;
                padding: 10px 0;

                a {
                    font-size: 14px;
                    font-weight: 600;
                    padding: 10px 10px;
                }
            }
        }
        // COL WITH D0 NOT MISS ROW
        .do-not-miss-col {
            background: $darker-red;
            padding: 20px 0 0 20px;
        }
        // DO NOT MISS ROW
        .do-not-miss-row {
            h2 {
                font-size: 16px;
                font-weight: 700;
                margin: 0 0 15px 0;
            }
            .col:first-of-type {
                margin: 0 0 20px 0;
            }
        }
    
        // DO NOT MISS LINKS
        .do-not-miss-a {
            cursor: pointer;
        }
    
        // DO NOT MISS ARTICLES
        article.do-not-miss-article {
            .article-image {
                width: 200px;
                height: 140px;
                background-image: url('/img/mountains.png');
                background-size: cover;
                background-position: 50% 50%;
                padding: 15px;
                .category {
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 12px;
                    background:$mt-red;
                    padding: 10px 15px;
                }
            }
            .rest {
                width: 50%;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 700;
                padding: 0 10px 0 10px;
                .read {
                    background: #efefef;
                    margin: 20px 0 0 0;
                }
                .date-and-btn {
                    margin: 10px 0 0 0;
                    font-weight: 300;
                    font-size: 12px;
                }
            }
        }
    }
}

@media(min-width: 768px) {
    
    .navbar {
        .navbar-collapse {
            // MAIN MENU
            ul.main-menu {
                font-size: 15px;
                a {
                    display: block;
                    padding: 13px 50px 13px 70px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            // SUB MENU
            .sub-menu {
                width: calc(100% - 365px);
                padding: 35px 0 0 40px;
                a {
                    display: block;
                    padding: 13px 30px 13px 23px;
                    color: #FECDCD;
                    font-weight: 500;
                }
                .to-main-menu-arrow {
                    padding: 10px;
                    margin: 0 0 30px 0;
                    outline: none;
                    img {
                        width: 20px;
                    }
                }
                h2.category {
                    font-size: 18px;
                    font-weight: 600;
                    margin: 0 0 13px 23px;
                }
            }
        }
    }
}

@media(min-width: 992px) {
    .navbar {
        height: 100px;
        .top-nav-logo-a {
            img {
                width: 85px;
            }
        }
        .navbar-toggler {
            padding: 0 0 0 26px;
            width: 100px;
            height: 100px;
            .icon-bar {
                height: 4px;
                &:nth-of-type(1) {
                    width: 39px;
                    margin-top: 0;
                }
                &:nth-of-type(2) {
                    width: 48px;
                    margin-top: 8px;
                }
                &:nth-of-type(3) {
                    width: 29px;
                    margin-top: 8px;
                }
            }
        }
        .navbar-collapse {
            top: 100px;
            ul.main-menu {
                padding: 69px 0 69px 0;
                .nav-item {
                    a {
                        font-size: 16px;
                        padding: 18px 50px 18px 70px;
                    }
                }
            }
            .sub-menu {
                padding: 82px 0 0 40px;

                h2.category {
                    font-size: 20px;
                    font-weight: 600;
                    margin: 0 0 17px 23px;  
                    
                }
            }
            
            .do-not-miss-col {
                padding: 40px 0 0 40px;
            }
            
            aside.previous-editions {
                background: $dark-gray;
                color: white;
                text-transform: uppercase;
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                padding: 0 30px 0 0;
                h2 {
                    font-weight: 600;
                    font-size: 20px;
                    margin: 80px 0 17px 50px;
                }
                ul {
                    li {
                        a {
                            display: block;
                            font-size: 15px;
                            font-weight: 700;
                            padding: 13px 100px 13px 50px;
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 1200px) {
    .navbar {
        .navbar-collapse {
            ul.main-menu {
                // height of whole navbar-collapse depends on this padding
                padding: 62px 0 350px 0;
                .nav-item {
                    a {
                        // font-size: 18px;
                        // padding: 25px 50px 25px 70px;
                    }
                }
            }
            .do-not-miss-and-submenu-col {
                background: $darker-red;
            }
            .sub-menu-xl-row {
                height: 45%;
                .col-xl-12 {
                    height: 100%;
                }
                .sub-menu-ul {
                    position: initial;
                    h2 {
                        margin: 0 0 13px 30px;
                    }
                    a {
                        padding: 13px 30px 13px 30px;
                    }
                }
            }
            .do-not-miss-row {
                height: 55%;
                padding: 0 20px 20px 20px;
                .border-top {
                    width: 95%;
                    border-top: 1px solid #FECDCD;
                }
                h2 {
                    font-size: 18px;
                    margin: 0;
                }
                .do-not-miss-article {
                    .article-image {
                        width: 100%;
                        margin: 0 0 10px 0;
                    }
                    .rest {
                        width: 100%;
                        padding: 0;
                        .description {
                            font-weight: 600;
                        }
                        .date-and-btn {
                            margin: 20px 0 0 0;
                        }
                        .read {
                            margin: 0;
                        }
                    }
                }
            }
            .sub-menu {
                z-index: 300;
                width: 75%;
                height: 50%;
                h2.category {
                    //Im making it 4px smaller than in project
                    font-size: 26px;
                    font-weight: 600;
                    margin: 0 0 13px 23px;
                }
            }
            .previous-conferences-col {
                padding: 70px 0 20px 30px;
                h2 {
                    margin: 0 0 15px 10px;
                }
                ul {
                    text-align: left;
                    li {
                        display: block;
                    }
                }
            }
        }
    }
}