.navbar {
    background: #ffffff;
    padding: 0;
    // height is same as the highest element inside(.navbar-togler)
    height: 69px;
    .navbar-toggler {
        border: none;
        border-radius: 0;
        outline: none;
        width: 70px;
        background-color: $mt-red;
        padding: 24px 15px;
        position: absolute;
        left: 0;
        top: 0;
        .icon-bar {
            display: block;
            background-color: #ffffff;
            height: 3px;
            transition: all 0.2s;
            margin-top: 6px;
            &:nth-of-type(1) {
                width: 75%;
                margin-top: 0;
            }
            &:nth-of-type(2) {
                width: 100%;
            }
            &:nth-of-type(3) {
                width: 60%;
            }
        }
    }
    .navbar-collapse {
        position: absolute;
        top: 69px;
        width: 100%;
        color: #ffffff;
        // MAIN MENU
        ul.main-menu {
            background-color: $mt-red;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 600;
            text-align: left;
            padding: 37px 0 37px 0;
            // In graphic project it is 67px wide, but it doesn't look good on 320px screens
            border-right: solid 50px $darker-red;
            a {
                display: block;
                padding: 13px 50px 13px 70px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        // SUB MENU
        .sub-menu {
            background-color: $darker-red;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 600;
            text-align: left;
            width: calc(100% - 70px);
            padding: 35px 0;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            a {
                display: block;
                padding: 13px 30px 13px 23px;
                color: #FECDCD;
                font-weight: 500;
            }
            .to-main-menu-arrow {
                padding: 10px;
                margin: 0 0 30px 17px;
                outline: none;
                img {
                    width: 20px;
                }
            }
            h2.category {
                font-size: 18px;
                font-weight: 600;
                margin: 0 0 13px 23px;
            }
        }
    }
    .top-nav-logo-a {
        img {
            width: 60px;
        }
    }
    .social-media {
        margin: 0 10px 0 0;
        position: absolute;
        right: 0;
        ul {
            margin-bottom: 0;
            list-style-type: none;
            li {
                display: inline-block;
                a {
                    padding: 5px;
                    // &:last-of-type { padding-right: 0; }
                    img {
                        width: 18px;
                    }
                }
            }
        }
    }
}

@media(min-width: 768px) {
    .navbar {
        .navbar-collapse {
            // MAIN MENU
            ul.main-menu {
                background-color: $mt-red;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 600;
                text-align: left;
                padding: 37px 0 37px 0;
                // In graphic project it is 67px wide, but it doesn't look good on 320px screens
                border-right: solid 50px $darker-red;
                a {
                    display: block;
                    padding: 13px 50px 13px 70px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            // SUB MENU
            .sub-menu {
                width: calc(100% - 365px);
                padding: 35px 0 0 40px;
                a {
                    display: block;
                    padding: 13px 30px 13px 23px;
                    color: #FECDCD;
                    font-weight: 500;
                }
                .to-main-menu-arrow {
                    padding: 10px;
                    margin: 0 0 30px 0;
                    outline: none;
                    img {
                        width: 20px;
                    }
                }
                h2.category {
                    font-size: 18px;
                    font-weight: 600;
                    margin: 0 0 13px 23px;
                }
            }
        }
    }
}

@media(min-width: 992px) {
    .navbar {
        height: 100px;
        .top-nav-logo-a {
            img {
                width: 85px;
            }
        }
        .navbar-toggler {
            padding: 0 0 0 26px;
            width: 100px;
            height: 100px;
            .icon-bar {
                height: 4px;
                &:nth-of-type(1) {
                    width: 39px;
                    margin-top: 0;
                }
                &:nth-of-type(2) {
                    width: 48px;
                    margin-top: 8px;
                }
                &:nth-of-type(3) {
                    width: 29px;
                    margin-top: 8px;
                }
            }
        }
        .navbar-collapse {
            top: 100px;
            ul.main-menu {
                padding: 69px 0 69px 0;
                .nav-item {
                    a {
                        font-size: 16px;
                        padding: 18px 50px 18px 70px;
                    }
                }
            }
            .sub-menu {
                padding: 82px 0 0 40px;

                h2.category {
                    font-size: 20px;
                    font-weight: 600;
                    margin: 0 0 17px 23px;
                }
            }
            // DO NOT MISS SECTION
            section.do-not-miss {
                width: 50%;
                height: 100%;
                background: $darker-red;
                position: absolute;
                top: 0;
                right: 0;
                h2 {
                    font-size: 24px;
                    text-transform: uppercase;
                    font-weight: 700;
                }
                article.do-not-miss-article {
                    .article-image {
                        width: 300px;
                        height: 150px;
                        background-image: url('/img/mountains.png');
                        background-size: cover;
                        background-position: 50% 50%;
                    }
                }
            }
            aside.previous-editions {
                background: $dark-gray;
                color: white;
                text-transform: uppercase;
                position: absolute;
                top: 0;
                right: 0;
                width: 300px;
                height: 100%;
                h2 {
                    font-weight: 600;
                    font-size: 20px;
                    margin: 80px 0 17px 50px;
                }
                ul {
                    li {
                        a {
                            display: block;
                            font-size: 15px;
                            font-weight: 700;
                            padding: 13px 100px 13px 50px;
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 1200px) {
    .navbar {
        .navbar-collapse {
            ul.main-menu {
                padding: 62px 0 62px 0;
                .nav-item {
                    a {
                        font-size: 18px;
                        padding: 25px 50px 25px 70px;
                    }
                }
            }
            .sub-menu {
                h2.category {
                    //Im making it 4px smaller than in project
                    font-size: 26px;
                    font-weight: 600;
                    margin: 0 0 13px 23px;
                }
            }
            aside.previous-editions {
                width: 420px;
                h2 {
                    //Im making it 4px smaller than in project
                    font-size: 26px;
                    font-weight: 600;
                    margin: 80px 0 17px 50px;
                }
                ul {
                    li {
                        a {
                            font-size: 16px;
                            padding: 13px 100px 13px 50px;
                        }
                    }
                }
            }
        }
    }
}